$primary-color: #78baf0;
$secondary-color: #168fc9;

$base-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$fallback-font-family: "Helvetica Neue", sans-serif !default;

$size-md: 720px !default;

// Import full Spectre source code
@import "spectre";