---
layout: default
title: Muslims of Thailand Prayer Network
---

<div id="home-content">
  <div class="container grid-md">
    <header>
      <div id="logo"><img src="{{ site.url }}/img/mtpn-header.png" /></div>
    </header>
    <nav id="home-navigation" role="navigation">
      <ul>
        <li><a href="https://updates.mtpnetwork.org/" alt="MTPN Updates" target="_blank">Updates</a></li>
        {% for item in site.data.nav.toc %}
          <li><a href="{{ site.url }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% include footer.html %}
  </div>
</div>