<header>
  <nav id="navigation" role="navigation">
    <div id="logo"><a href="{{ site.url }}"><img src="{{ site.url }}/img/mtpn-logo.png" /></a></div>
    <div class="nav-link"><a href="https://updates.mtpnetwork.org/" alt="MTPN Updates" target="_blank">Updates</a></div>
    {% for item in site.data.nav.toc %}
      <div class="nav-link"><a {% if page.page_title == item.title %} class="active-page-link" {% endif %} href="{{ site.url }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></div>
    {% endfor %}
    </ul>
  </nav>
</header>
